
<div class="header">
    <h1 class="page-header">
        Project Detail
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">All</a></li>
        <li class="active">proj</li>
    </ol>
</div>
{{#with project}}
<div id="page-inner">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="text-center mtop35">{{title}}</h1>
            <p class="text-center auth-row">
                {{ createTime}}   | <a href="#">{{comments.length}} Comments</a>
            </p>
            <div class="blog-img-wide" style="height: 200px;">
                <img src="{{image}}" width="100%" style="height: inherit;padding-bottom: 0;">
            </div>
            <hr>
            <div class="status">
                <div class="project-status">
                    <div class="row">
                        <div class="progress progress-xs col-md-11">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%"></div>
                        </div>
                        <div class="progress-percentage col-md-1">{{percentage}}%</div>
                    </div>
                    <div class="project-raised">
                        <span class="project-raised-price">$ {{raisedAmount}}</span>
                        <span class="project-raised-label">raised</span>
                    </div>
                </div>
                <ul class="project-info">
                    <li class="project-info-unit">
                        <span class="unit-label">Target</span>
                        <span class="unit-figure">$ {{targetAmount}}</span>
                    </li>
                    <li class="project-info-unit">
                        <span class="unit-label">Funders</span>
                        <span class="unit-figure">{{fundersCount}}</span>
                    </li>
                    <li class="project-info-unit ">
                        <span class="unit-label">Days left</span>
                        <span class="unit-figure">{{daysLeft}}</span>
                    </li>
                </ul>
            </div>
            <br><hr><hr>
            {{{description}}}
        </div>
    </div>
    <div class="wrapper" style="padding: 0px;">
        <div class="row blog">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">Funded List</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Funder Name</th>
                                <th class="">Funded Amount($)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each funders}}
                            <tr>
                                <td>{{user.email}}</td>
                                <td style="color: #65cea7;">{{amount}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">Comments</div>
                    <div class="panel-body">
                        <ul class="chats normal-chat">
                            {{#each comments}}
                                <li class="in">
                                    <img src="/images/photos/user1.png" alt="" class="avatar">
                                    <div class="message ">
                                        <span class="arrow"></span>
                                        <a class="name" href="#">{{email}}</a>
                                        <span class="datetime">at {{time}}</span>
                                        <span class="body">
                                            {{content}}
                                        </span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}